.container {
    padding: 0 2rem;
    background-color: rgb(239, 237, 233);
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 0 2rem;
  }
  .h3{
    font-size: 5px;
   
    font-weight:normal;
  }
  .top{
    
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  }
  .top span{
    font-size: 15px;
    background-color:rgb(241, 214, 214);
    justify-content: center;
     margin-left: 20px;
     margin-bottom: 15px;
  }
  .top p{
    background-color:rgb(238, 228, 228);
    justify-content: center;
     margin-left: 20px;
  }
  .ans{
    color: #0070f3;
  }
  
  .ans1{
    display: flex;
    
    font-size: 12px;
  }
  .ans2{
    background-color: #e9e6e6;
    border: 1px solid #e9e6e6;
    font-size: 15px;
  }
  .ans3{
    background-color: white;
    margin: 5px;
    border-left:2px solid #0070f3;
    font-size: 14px;
    
  }
  .ans5{
    color: #0070f3!important;
  }
  .ans6{
    
    font-weight: 50px;
    color:gray;
  }
  .anp{
    border: 3px solid #f7efef;
    border-radius: 70%;
    margin-right: 45%;
    margin-left: 10%;
    color: #eaeaea;
    text-align: center;
    background-color: #db1709;
    width: 50px;
    height: 50px;
  }
  .line{
    font-size: 15px;
    color:#0070f3;
    margin-left: 45px;
    margin-right: 45px;
    flex-wrap: nowrap;
  }
  .php{
    font-size: 15px;
    color: #0070f3;
  }
  .photo{
    overflow-y: auto;
    height: 70vh;
    overflow-x: hidden;
    
  }
  .photo img{
    width: 100%;
    height: 90%;
   
  }
  .photo2{
    
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  
  }
  .photo2 p{
    margin-left: 20px;
  }
  .photo2 span{
    font-size: 17px;
    color:blue;
    margin-left: 30px;
    
  
     
     
  }
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #bbadad;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .h2 {
      border: 3px solid #f7efef;
      border-radius: 50%;
      margin-right: 3%;
      margin-left: 10%;
      color: #eaeaea;
      text-align: center;
      background-color: #db1709;
      width: 10%;
      height: 45%;
      
      
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
  
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .h2{
    border:5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    background-color: #f34d00;
   
    
  }
  .h21{
    border:5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 2%;
    margin-right: -50%;
    text-align: center;
    background-color: #f34d00;
   
    
  }
  .ti{
    justify-content: right;
  }
  .tit{
    margin-top: 12%
  }
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .card1{
    width: 35%!important;
  }
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  .box{
    
    padding: 1%;
    background-color: #fff;
  
  
  }
  
  .box2{
    
    font-size: 10px;
    padding: 1%;
    
   
  }
  .box2p{
   
    font-size: 14px;
   
  }
  .box3{
    
    font-size: 10px;
    padding: 1%;
    display: inline;
  
   
  }
  
  
  .edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .edit2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 78%;
    font-size: 10px;
    filter: blur(0.5px);
  }
  .edit23{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 80%;
    font-size: 10px;
    filter: blur(0.5px);
  }
  .edit231{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0%;
    font-size: 10px;
    filter: blur(0.5px);
  }
  .ans{
    background-color: rgb(186, 181, 181);
    padding: 5px;
    margin-left: 5px;
  }
  .ans2{
    background-color: rgb(255, 255, 255);
   
    margin-left: 50px;
  }
  
  
  .box2p2 {
    border:1px solid rgb(8, 8, 8);
    padding: 5px;
    font-size: 10px;
    margin-left: 2%;
    border-radius: 25px;
    background-color: #ebe5e5;
    width: 55%;
  }
  .box2p2 span{
    margin-left: 8px;
    transform: translateY(3px);
  }
  .h3{
    font-size: 15px;
    font-weight: bold;
  }
  .h31{
    font-size: 13px;
    font-weight: bold;
    color: #0070f3;
  }
  .h312{
    font-size: 13px;
    margin-left: 1%;
    
    
  }
  .triangle {
      width: 0;
      height: 0;
      border-left: -2px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 18px solid rgb(196, 192, 192);
    margin-left: 5px;
    margin-top: -15px;
  }
  .h3122{
    font-size: 10px;
    font-weight: bold;
    color: #0070f3;
  }
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .anp{
    border: 3px solid red;
    border-radius: 100%;
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 60%;
    background-color: red;
    font-weight: normal;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 1024px) {
    .h2{
      font-size: 15px;
      border:5px solid rgb(255, 255, 255);
      border-radius: 50%;
     height: 50px;
     line-height: 40px;
     width: 50px;
      text-align: center;
      background-color: #0070f3 !important;
   
    
    }
  }
  @media (max-width: 1199px) {
    .h2{
      font-size: 15px;
      border:5px solid rgb(255, 255, 255);
      border-radius: 50%;
     height: 50px;
     line-height: 40px;
     width: 50px;
      text-align: center;
      background-color: #0070f3 !important;
   
    
    }
    
  }
  @media (max-width: 1024px) {
  .box2p2{
    font-size: 15px;
      border:5px solid rgb(255, 255, 255);
      border-radius: 50%;
     height: 50px;
     line-height: 40px;
     width: 50px;
      text-align: center;
      background-color: #0070f3 !important;
   
  }
  }
  @media (max-width: 1024px) {
    .box1{
      font-size: 15px;
        border:5px solid rgb(255, 255, 255);
        border-radius: 50%;
       height: 50px;
       line-height: 40px;
       width: 50px;
        text-align: center;
        background-color: #0070f3 !important;
     
    }
    }
  
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }